.tabs {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tab-btn {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid gray;
  color: #038203;
  cursor: pointer;
  padding: 25px 0 15px 10px;
  outline: none;
  width: 25%;
  text-align: left;
  font-weight: bold;
  border-right: solid 1px #e1e1e1;
}
.tab-btn:last-child {
  border-right: none;
}
.tab-btn:focus {
  outline: none;
}
.tab-btn-active {
  border-bottom: 4px solid #008a00;
  font-weight: bold;
  color: #000;
}
.tab-btn-active p {
  margin: 0;
}
.tab-btn p {
  margin: 0;
}
.tab-date {
  font-weight: 100;
  font-size: 14px;
  color: #000;
}
/* tabs content */
.content {
  width: 100%;
}
.tab-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width:100%; */
  display: none;
}
.tab-content-active {
  display: block;
}

.banner-container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 28px;
  left: 80%;
  background-color: #1a5336;
  color: white;
  width: 190px;
  height: 198px;
  z-index: 1;
  text-align: left;
  padding: 40px 0 20px 20px;
}
img {
  width: 800px;
  height: 250px;
}
.flex-item {
  background-color: #e6e6e6;
  flex-grow: 1;
}
.banner-content {
  width: 49%;
  background-color: #e6e6e6;
  margin-top: 2;
  margin: 4% 17% 0 16%;
  text-align: left;
}
.banner-content h5 {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bold;
}
body {
  padding: 0;
  margin: 0;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.banner-bg {
  background-color: #e6e6e6;
}
.banner-content .btn {
  border: none;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
}
.banner-content .success {
  background-color: #008a00;
}
